.spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: table;
 
}
.card {
  border-radius: .7rem;
}
.list{
  border: 1px solid #000;
}
@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }